@font-face {
  font-family: 'Glysa';
  src: local('Glysa'), url('./fonts/Glysa/Glysa.otf') format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  src: local('Lexend Deca'),
    url('./fonts/LexendDeca/LexendDeca-VariableFont_wght.ttf')
      format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: '0.01rem';
}

body {
  font-family: 'Lexend Deca';
  font-style: normal;
}

:root {
  /* COLORS */
  --G100: #141414;
  --G90: #191919;
  --G80: #1e1e1e;
  --G70: #232323;
  --G60: #282828;
  --G50: #2d2d2d;
  --G40: #323232;
  --G30: #373737;
  --G20: #3c3c3c;
  --G10: #414141;
  --G00: '#19191900';

  /* TEXT */
  --textPrimary: white;
  --textSecondary: #ffffff8f;
  --textDisabled: #ffffff52;

  /* FONTS */
  --glysa: 'Glysa';
  --lexendDeca: 'Lexend Deca';
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--G100);
  color: var(--textPrimary);
}
